.header-container {
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 105px;
    padding: 25px;
    
}

.header-container h1
{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight:400;
}

.header-container h1 img {
    margin-right:15px;
}

.slogan {
    font-weight:700;
    font-size:22px;
    margin-bottom: 15px;
    text-align:right;
}

.sidebar  {
    display: flex;
    justify-content: space-between;
    flex-direction:column;
}

.div2 {
    display: flex;
    justify-content:space-around;
    font-size: 14px;
    font-weight: 500;
}

.div2 span {
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    font-weight:700;
    padding: 2px 8px;
    margin-right: 15px;
    margin-left:50px;
}

.navbar {
    padding: 30px 0;
    display:flex;
    justify-content: space-between;
}

.navbar * {
    font-size: 15px;
}

#categorie
{
    border-radius: 7px;
    font-weight:700;
    padding:0 10px;
    height:39px;
    border:0;
}

.search
{
    background-color: #fff;
    border-radius: 7px;
    height:39px;
    width:300px;
    border:0;
    margin-left:10px;
    padding:2px 6px;
}

.rechercher
{
    color: #fff;
    border-radius: 7px;
    margin-left:10px ; 
    height:39px;
    border:0;
    padding:0 15px;
    font-weight:700 ;
}

.nav a 
{
    color:#fff ;
    font-weight: 400;
    margin-left:30px;
}

.badge-article
{
    background-color: #fff;

    border-radius: 50%;
    font-size: 11px;
    font-weight:700;
    padding:2px 5px;
    margin-left:10px;
}