body {
    font-family: 'Montserrat', sans-serif;
    line-height:17px;
}

.bg-blue {
    background-color: #2D4059;
}

.bg-grey {
    background-color: #e5e5e5;
}

.bg-red {
    background-color: #ea5455;
}

.text-blue {
    color:#2D4059 ;
}

.text-grey {
    color:#e5e5e5;
}

.text-red {
    color:#ea5455 ;
}

.container {
    max-width: 1114px;
    margin: 0 auto ;
}

h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 50px;
}

h2 a.subtitle {
    font-size: 15px;
}

.home-section {
    margin: 80px 0 ;
}

.slider {
    display:flex;
    justify-content: space-between;
}

.diapo {
    width:263px ;
    height:261px ;
    
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.1);
    padding:23px;
}

.diapo img {
    // max-width:217px;
    max-height:186px;
    // margin: 23px 23px 0 23px;
    width:100%;
    object-fit: contain;
}

.diapo .name-product {
    font-size:13px;
    font-weight: 700;
    text-align: left;
}

.diapo .price-product {
    font-size:13px;
    
    font-weight:500;
}

.diapo .price-product .in-stock {
    color:#42CC58;
    float:right;
   
}

.categories {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 20px;
}

.categorie-thumb {
    width: 168px;
    height:163px;
    border-radius: 25px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size:18px;
    font-weight:700;
}

.categorie-thumb i {
    margin-bottom: 20px;
}

.categorie-thumb a {
    color: inherit;
}

.categorie-thumb a:hover {
    color: #ea5455;
}

.choices {
    display:flex;
    justify-content: space-between;
}

.choice-item a {
    text-align: center;
    display:block;
    
    font-weight:700;
    font-size: 20px;
}

.choice-item a:hover img {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.choice-item img {
    width:343px;
    height:232px;
    object-fit:cover;
    object-position: bottom;
}

.choice-item p {
    margin-top: 20px;
}

@media screen and (max-width: 1100px) {
    .div2 {
        display: none;
    }

    .sidebar {
        margin-left:15px;
    }

    .slogan {
        line-height: 1.05;
    }

    .navbar form {
        display:none;
    }

    .nav {
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .nav a {
        width:40%;
        margin:15px;
        display:block;
    }

    .nav a:nth-of-type(even) {
        text-align:right;
    }

    .container {
        padding: 0 10px;
    }

    .diapo:nth-child(2), .diapo:nth-child(3), .diapo:nth-child(4) {
        display:none;
    }

    .slider {
        justify-content: center;
    }

    h2 {
        line-height:1.1;
    }

    .categories {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
        margin:0 auto;
    }
    
    .choices {
        justify-content: space-between;
        flex-direction: column;
    }

    .choice-item {
        margin-bottom:40px;
    }

    footer .container {
        width: auto;
        height: auto;
        flex-direction: column;
        padding-bottom:15px;
    }

    footer .flex {
        align-items: flex-start;
        flex-direction: column;
    }

    .flex i {
        margin: 10px 0;
    }

    .info p {
        margin-top: 0;
    }

    footer h3 {
        margin-right: 0;
    }

    .bottom {
        text-align:center;
    }

    // .bottom:last-child {
    //     margin-bottom:20px;
    // }

    .mentions_legales{
        padding: 10px;
        font-size:.1rem;
    }
}